* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

 body {
     font-family: 'roboto',sans-serif;
     background-color: #4b484b;
     width: 100vw;
     height: 100vh;
     margin: 0;
     overflow-x: hidden;
 }



 ul {
     list-style-type: none;
 }

 /* Navbar */
.navbar {
    background-color: #191819;
}

.navbar .nav-logo img {
    width: 100px;
    height: auto;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

.navbar .nav-links ul {
    display: flex;
}

.navbar .nav-links a {
    text-decoration: none;
    color: #b88c48;
    padding: 10px;

    font-size: 18px;
}

.navbar .nav-links a:hover {
    border-bottom: #b88c48 solid 2px;
}

.navbar .nav-logo img {
    width: 100px;
    height: auto;
}

/* Hero */
.hero-showcase .hero-content {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #dfdfdf;
    color: #b88c48;
    padding: 100px;

    font-size: 20px;
    font-weight: 500;
}

.hero-showcase img {
    width: 500px;
    height: auto;
}

.hero-showcase .hero-content .hero-title {
    display: flex;
    flex-basis: 400px;
    flex-direction: column;
    text-align: left;
    margin-right: 0px;
}

h1 {
    font-size: 48px;
    font-weight: 700;
}

.hero-showcase button {
    display: block;
    width: 200px;

    margin-top: 10px;

    text-transform: uppercase;

    text-decoration: none;
    font-size: 1rem;
    padding: .5em .5em;
    font-weight: 700;
    border-radius: 10px;
    border: none;

    background-color: #b88c48;
    color: #dfdfdf;
    transition: 
        transform 250ms ease-in-out,
        opacity 250ms linear;

}

.btn:hover, .btn:focus {
    transform: scale(1.1);
    opacity: 1;
}

/* Attributes */
.attributes {
    background-color: #191819;
    color: #b88c48;
   padding-bottom: 50px;
}

.attribute-title {
    padding: 50px;
    text-align: center;
}

.attributes .attributes-info {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
}

.att-item {
    font-size: 18px;
    text-align: center;
}


.attributes .attributes-info img {
    width: 250px;
    height: auto;
    border: #b88c48 solid 3px;
    border-radius: 20px;
    margin: 5px 20px 0px 20px;
    object-fit: cover;
}

.attributes .attributes-info a {
    text-decoration: none;
    color: #b88c48;
}

.attributes .attributes-info a:hover {
    background-color: #b88c48;
    color: #191819;
}

/* Quote */
.quote .quote-items {
    display: flex;
    flex-direction: column;
    background-color: #dfdfdf;
    color: #b88c48;
    padding: 7em 13em;
}

.quote-items p {
    font-size: 36px;
    font-weight: 700;
    font-style: italic;
}

.quote-items .ben {
    font-size: 24px;
    font-weight: 200;
    text-align: right;
    padding-right: 180px;
}

/* Registration */
.action {
    padding: 5em 13em;
    background-color: #dfdfdfd4;
    display: flex;
    justify-content: center;
}

.action .action-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1em 2em;
    
    border-radius: 10px;
    border-color: none;

    background-color: #4a7cb7;
    color: #dfdfdf;
}

.action-sign p{
    font-size: 18px;
    margin: 15px 30px 20px 20px;
}

h4 {
    font-size: 20px;
    padding: 0;
    margin: 30px 0px 0px 20px;
}

.action .action-btn button {
    color: #191819;
    text-transform: uppercase;

    font-size: 15px;
    padding: .5em .5em;
    font-weight: 700;
    border-radius: 10px;
    border-color: #dfdfdf;

    background-color: #4a7cb7;
    color: #dfdfdf;
    transition: 
        transform 250ms ease-in-out,
        opacity 250ms linear;
}
/* Copyright */

.footer {
    padding: 20px;
    text-align: center;
    background-color: #191819;
    color: #b88c48;
}